<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtkC_F2NjBv9aEyz4EnY149hn7WCATITA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081921816948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoV2</string>
	<key>PROJECT_ID</key>
	<string>proyectov2-d9bc1</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectov2-d9bc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081921816948:ios:2ed84ba993dd43cc834421</string>
</dict>
</plist>